.container {
  display: grid;
  background-color: var(--color-white);
  grid-template-rows: min-content 1fr;
  gap: 24px;
  height: 100dvh;
  overflow: hidden;
  padding: 24px;
  width: 100dvw;
}

.board {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  height: 100%;
  overflow-y: hidden;
  overflow-y: auto;
}
